.form-title {
    font-family: 'DM Serif Display', serif;
}

.form-txt {
    font-family: 'Roboto Condensed', sans-serif;
}

.form-btn {
    font-family: 'Bungee Inline', cursive !important;
    background-color: #5D2EFF !important;
}
