.home-img {
    width: 33.33%;
    filter: grayscale(100%);
}

.banner-container {
    position: relative;
        text-align: center;
        color: white;
}

.overlay {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.home-num {
    font-size: 100px;
}

.home-btn {
display: block;
height: 100px;
background-color: white;
background-size: 200px;
background-repeat: no-repeat;
background-position: center;
position: relative;
}

.home-btn-txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}