.home-img {
    width: 33.33%;
    filter: grayscale(100%);
}

.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5D2EFF;
    font-family: 'Bungee Inline', cursive;
    width: 100%;
    text-shadow:2px 2px black;
}

.home-header {
    font-family: 'DM Serif Display', serif;
}

.home-num {
    font-size: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}

.home-steps {
    font-family: 'Roboto Condensed', sans-serif;
}

.home-btn {
    display: block;
    height: 100px;
    background-color: white;
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.home-btn-txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Bungee Inline', cursive;
    text-shadow: 2px 2px black;
}

.home-btn-txt:hover {
    font-size: 80%;
}