.workout-scripture {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.workout-header {
    font-family: 'Bungee Inline', cursive;
}

.table-header {
    font-family: 'DM Serif Display', serif;
}

.table-txt {
    font-family: 'Roboto Condensed', sans-serif;
}

.workout-table {
    background-color: #5D2EFF !important;
}

